.horizontal-menu {
  background-color: #cecece;
  max-height: 10vh;
}

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  border: none;  
  width: 25vw;
  text-align: center;
  max-width: 7vw;
}

.menu-item-wrapper.active {
  border-width: 0px;
}

.menu-item.active {
  border-width: 0px;
}
 
.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

ul.nav.nav-tabs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
  background-color: #cecece;
  padding: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-tabs>a {
  border-radius: 0px;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bolder;
  min-width: 8vw;
  text-align: center;
}

nav.nav-tabs>a.nav-link {
  margin-bottom: -1px;
  border: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media (max-width: 600px) {
  .nav-tabs>li>a {
    max-width: 25vw;
    font-size: 9px;
  }
  .menu-item {
    max-width: 30vw;
  }
}

@media screen and (orientation: portrait) {
  .menu-item {
    padding: 0px;
    margin: 0px;
  }
}

.carousel-wrapper {
  background-color: white;
}

.carousel {
  background-color: white;
}

